@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    border: none;
    outline: none;
    color: #000000DE;
}

h3 {
    font-weight: 400;
}

body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

main {
    padding: 0px 0px 0px 19px;
}